version: '3.7'

name: {{compose_project_name}}

services:
  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    command:
          - --config.file=/etc/prometheus/prometheus.yml
          - --web.enable-remote-write-receiver
          - --enable-feature=exemplar-storage
          - --enable-feature=native-histograms
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

volumes:
  prometheus_data:
