global:
  scrape_interval: 15s
  external_labels:
    monitor: 'codelab-monitor'
scrape_configs:
  - job_name: exchange
    static_configs:
      - targets: [
          'adrush-1.adrush.space:8042',
          'adrush-1.adrush.space:8043',
          'adrush-1.adrush.space:8044',
          'adrush-1.adrush.space:8045',
          'adrush-1.adrush.space:8046',

          'adrush-2.adrush.space:8042',
          'adrush-2.adrush.space:8043',
          'adrush-2.adrush.space:8044',
          'adrush-2.adrush.space:8045',
          'adrush-2.adrush.space:8046',
      ]

  - job_name: 'cadvisor'
    basic_auth:
        username: admin
        password: 33599533Admin!
    static_configs:
      - targets: [
          'cadvisor:8080',
          'cadvisor-1.adrush.space',
          'cadvisor-2.adrush.space'
      ]

  - job_name: 'node-exporter'
    basic_auth:
        username: admin
        password: 33599533Admin!
    static_configs:
      - targets: [
          'node-exporter:9100',
          'node-exporter-1.adrush.space',
          'node-exporter-2.adrush.space'
      ]
