version: '3.7'

name: {{compose_project_name}}

services:
  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.bonavii.com
      - GF_RENDERING_SERVER_URL=http://renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      - GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE=true
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring-internal

  renderer:
    image: grafana/grafana-image-renderer:latest
    restart: unless-stopped
    networks:
      - monitoring-internal

volumes:
  grafana_data:

networks:
  monitoring-internal:
    external: true
