# Listen only on LAN interface
interface={{ ansible_default_ipv4.interface }}
bind-interfaces
listen-address={{ dnsmasq_ip }}

# Local domain
domain={{ dnsmasq_domain }}

# Wildcard for local domain
address=/{{ dnsmasq_domain }}/{{ dnsmasq_ip }}

# Upstream DNS servers
{% for dns in dnsmasq_upstream_dns %}
server={{ dns }}
{% endfor %}

# Cache
cache-size={{ dnsmasq_cache_size }}

{% if dnsmasq_log_queries %}
log-queries
log-facility=/var/log/dnsmasq.log
{% endif %}
