server {
    listen {{ item.listen_port }} ssl;
    proxy_pass 127.0.0.1:{{ item.port }};

    access_log off;

    ssl_certificate {{ item.ssl_certificate_path }};
    ssl_certificate_key {{ item.ssl_key_path }};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    proxy_timeout 1h;
    proxy_connect_timeout 5s;
}
