name: {{compose_project_name}}

services:
  go-exporter:
    image: ghcr.io/meteo-station/go-exporter:latest
    ports:
      - "127.0.0.1:8070:8080"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "2"
    restart:
      unless-stopped
    networks:
      - "{{ compose_project_name }}-internal"
    environment:

      # POSTGRES
      PGSQL_HOST: pgsql:5432
      PGSQL_USER: ${PGSQL_USER}
      PGSQL_PASSWORD: ${PGSQL_PASSWORD}
      PGSQL_DATABASE: ${PGSQL_DATABASE}

      # MOSQUITTO
      MOSQUITTO_HOST: tcp://mosquitto:1883
      MOSQUITTO_CLIENT_ID: go-exporter
      MOSQUITTO_USER: ${MOSQUITTO_USER}
      MOSQUITTO_PASSWORD: ${MOSQUITTO_PASSWORD}

      # SERVICE SETTINGS
      SERVICE_NAME: coin
      ENVIRONMENT: prod

      # LOGGING
      STACK_TRACE_ENABLED: true
      LOG_LEVEL: debug
      LOG_FORMAT: json

      # HTTP-ADDRESS
      LISTEN_HTTP: 0.0.0.0:8080

      # OPEN TELEMETRY
      OTLP_INSECURE: true
      OTLP_IS_ENABLED: false
      OTLP_HTTP_ENDPOINT: ""


networks:
  "{{ compose_project_name }}-internal":
    external: true
