##################################
# Default: запретить всё
##################################

# (implicit deny — ничего не разрешено)

##################################
# User: esp-meteo-station (ESP)
##################################

user esp-meteo-station
topic write esp-meteo-station/+/data

##################################
# User: go-exporter (сервер)
##################################

user go-exporter
topic read esp-meteo-station/+/data

##################################
# User: admin (отладка)
##################################

user admin
topic readwrite #