version: "3.8"

name: {{compose_project_name}}

services:
  mosquitto:
    image: eclipse-mosquitto:2
    restart:
      condition: unless-stopped
    ports:
      - "127.0.0.1:1883:1883"
    volumes:
      - ./mosquitto:/mosquitto
    networks:
      - "{{ compose_project_name }}-internal"

networks:
  "{{ compose_project_name }}-internal":
    external: true
