esp-meteo-station:$7$101$FNcU1bOhiQp9Tcy9$RaHdBWF5phW07PpH4pGEPFvA70vRPMeOIzyAguQP9AO/Hlghx8Mjdabs646FJW2/V5Z0eKviLAvrtMG6TBkuBQ==
go-exporter:$7$101$rbXRWcMykeoCRv1v$hap3lSVcAkaYdNNhkWmayOK8b9L0GuWxjBt1ab6LMSQ5rOzl6iu06ezxIr3EeYBHtp3V9Km8Zu0xpTamdlCYkA==
admin:$7$101$K2Gs1wn84lsGN6/v$pwkCyTYsSERQB290bXpn+N3tUVTT0O7QUhk6lGOk4uDgt+v0nAY5ol/sJgCnC6itAFBvxXS1ttLZ/43GYCkdyw==
